.customNav {
    position: fixed;
    width: 100%;
    background-color: black !important;
    background-size: cover;
    z-index: 10;
  }

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }

.customNav a, .customNav .navbar-brand {
    color: white !important;
  }

.nav-item {
    margin: 0px 15px;
  }

  /* Jumbotron  */
.jumbotron {
    height: calc(50vh - 50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color:  #73b3e8;
  }
  
  /* Jumbotron copy */
.jumboCopy {
    width: 90%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
  }

.jumbotron img {
    height: 200px;
    padding-top: 40px;
  }

.sectionHeading {
    text-align: center;
  }

.projects {
  background-color:aquamarine;
}

.Work {
    padding: 0px 30px 30px 30px;
  }

.cardContainer {
    text-align: center;
    margin-top: 20px;
  }

.card {
    margin: 0 auto;
  }

  .skills {
    background-color: burlywood;
  }

  .content {
    padding: 50px;
  }

.valueProp {
    margin-top: 15px;
    margin-bottom: 15px;
  }

.sideAccent {
    background: #007bff;
    width: 15px;
  }

.list-left {
    float:left;
  }

.list-right {
    float: right;
  }

#contact {
    margin: 20px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    display: grid;
    background-color: #73b3e8;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "Contact ContactContentArea";
  }
  
#Contact {
    grid-area: Contact;
    margin-left: 5px;
  }

.categoryGridArea ul {
    display: flex;
    justify-content: space-between;
    float: right;
  }

.categoryGridArea li {
  padding-right: 5px;
  display: inline;
  margin-left: 30px;
  margin-top: 10px;
  }

.categoryGridArea a {
  color: black;
  }

a:hover, .btn:hover {
  box-shadow: 10px 10px;
 }