.customNav {
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
  }

  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }

.customNav a, .customNav .navbar-brand {
    color: white !important;
  }

/*  .navbar-brand img {
    padding-right: 15px;
    width: 65px;
  }Kept in case needed, but at the moment we have no image*/
  
  .nav-item {
    margin: 0px 15px;
  }

  /* Jumbotron  */
.jumbotron {
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color:  #73b3e8;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
  }

  .jumbotron img {
    height: 50%;
  }

  .sectionHeading {
    text-align: center;
  }

  .Work {
    padding: 0px 30px 30px 30px;
  }

  .cardContainer {
    text-align: center;
    margin-top: 20px;
  }

  .card {
    margin: 0 auto;
  }

  .content {
    padding: 50px;
  }

  .valueProp {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sideAccent {
    background: #007bff;
    width: 15px;
  }

  .list-left {
    float:left;
  }

  .list-right {
    float: right;
  }

  #contact {
    margin: 20px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    display: grid;
    background-color: #73b3e8;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "Contact ContactContentArea"
    ;
  }
  
  #Contact {
    grid-area: Contact;
  }

  #Contact Content Area {
    grid-area: ContactContentArea;
  }

  .categoryGridArea ul {
    display: flex;
    justify-content: space-around;
  }

  .categoryGridArea li {
  padding: 0px;
  display: inline;
}